services:
  chrome:
    image: selenium/standalone-chrome:latest
    shm_size: 2gb
    ports:
      - "4444:4444"
    environment:
      - SE_NODE_MAX_SESSIONS=1
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true

  tests:
    build: .
    depends_on:
      - chrome
    environment:
      - SELENIDE_REMOTE=http://chrome:4444/wd/hub
      - SELENIDE_HEADLESS=true